APP_VARIANT=production
EXPO_PUBLIC_API_BASE_URL=http://100.97.78.5:8001
EXPO_PUBLIC_FRONTEND_ORIGIN=http://100.97.78.5:5173
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_UPDATES_URL=
EAS_PROJECT_ID=
FITICIAN_APP_LINK_HOST=app.fitician.example
